# PORT: host port mapped to the FrankenPHP container (used by make up).
PORT=8020

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
FRANKENPHP_MODE=worker
APP_SECRET=change_this_secret_key_to_a_random_value
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost:8020
###< symfony/routing ###

###> nowo-tech/redsys-php ###
# Sandbox credentials from Redsys public docs (override for your terminal).
REDSYS_MERCHANT_CODE=999008881
REDSYS_TERMINAL=1
REDSYS_SECRET_KEY=sq7HjrUOBfKmC576ILgskD5srU870gJ7
REDSYS_ENV=test
###< nowo-tech/redsys-php ###
